<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.teamwebboard.mapper.AdminMapper">


    <sql id="search">
        <where>
            <if test="keyword != null">
                <foreach collection="types" item="item" separator=" OR " open="(" close=")">
                    <if test='item == "t"'>
                        adID like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "c"'>
                        adName like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "w"'>
                        adCall like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

<!--    adNo, adID,adPW,adName, adCall, adEmail, adProfile,adBirth,authority,adAddress,authority, regDate, updateDate-->
    <select id="selectAdminList"  resultType="org.zerock.teamwebboard.domain.Admin">
        select *
        from tbl_admin

        <include refid="search"></include>

        order by adNo asc
        limit #{skip},#{size}
    </select>

    <select id="getAdminTotal" resultType="int">
        select count(adNo) from tbl_admin
        <include refid="search"></include>
    </select>

    <update id="updateAsRemove">
        update tbl_admin set adID ='DELETED',adName='DELETED', adCall='DELETED', adEmail='DELETED', authority='0' where adNo = #{adNo}
    </update>



</mapper>
