<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.teamwebboard.mapper.ContractorMapper">
    <select id="selectContractorList"  resultType="org.zerock.teamwebboard.domain.Contractor">
        select *
        from tbl_contractor
        order by ctno asc
            limit #{skip},#{size}
    </select>
    <select id="getContractorTotal" resultType="int">
        select count(ctno) from tbl_contractor
    </select>



</mapper>
