<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.teamwebboard.mapper.RequesterMapper">

    <sql id="search">
        <where>
            <if test="keyword != null">
                <foreach collection="types" item="item" separator=" OR " open="(" close=")">
                    <if test='item == "t"'>
                        reqid like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "c"'>
                        reqname like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "w"'>
                        reqcall like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>


    <select id="selectRequesterList"  resultType="org.zerock.teamwebboard.domain.Requester">
        select *
        from tbl_requester

        <include refid="search"></include>

        order by reqno asc
            limit #{skip},#{size}
    </select>
    <select id="getRequesterTotal" resultType="int">
        select count(reqno) from tbl_requester
        <include refid="search"></include>
    </select>

    <update id="updateAsRemove">
        update tbl_requester set reqID ='DELETED',reqName='DELETED', reqCall='DELETED', reqEmail='DELETED', reqImg=' ',birth = 'DELETED', reqDelFlag = 1 where reqno = #{reqno}
    </update>

<!--    <insert id="insert">-->
<!--        <selectKey resultType="int" keyProperty="reqno" order="AFTER">-->
<!--            select last_insert_id()-->
<!--        </selectKey>-->
<!--        insert into tbl_requester (reqID, reqName, reqCall, reqEmail, reqImg, birth)-->
<!--        values (#{title},#{content}, #{writer})-->
<!--    </insert>-->

</mapper>
